<div class="jumbotron my-5 py-5">
  <h1 class="display-4">Thank you for your input!</h1>
  <p class="lead">Community voting the <%= Date.today.year %> DLF Forum
    has ended.</p>
  <hr class="my-4">
  <p>We look forward to seeing you in online in October!</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://forum<%= Date.today.year %>.diglib.org" role="button">Learn more</a>
  </p>
</div>
