$green: #6c825f;
$orange: #ed8d1b;
$red: #ac2429;
$blue-ish: #005b9d;
$gray: #f7f7f7;
$gray2: #e9e9e9;
$dark-blue: #34495e;

// for badges
$glossy-grape: #A78BB5ff;
$glossy-grape: #6a4e78ff;
$pansy-purple: #792549ff;
$cedar-chest: #a62b14ff;
$steel-teal: #296163ff;
$shadow-blue: #465979ff;
$quinacridone-magenta: #393939ff;
$middle-blue-green: #10635fff;
$deep-champagne: #F6D39Eff;
$mauvelous: #595959ff;
